html a{
    color: black;
}

html a:hover{
    color: black;
}


.white-curved-rectangles-4{
     position:absolute;
     top:15%;
     left: 2.5%;
  border-radius: 25px;
  background: white;
  width: 95%;
  height: 50%;
  cursor: pointer;
    transition: opacity 0.15s;
     color: black;
}

 .white-curved-rectangles-3{
     position:absolute;
     top:20%;
     left: 2.5%;
  border-radius: 25px;
  background: white;
  width: 95%;
  height: 50%;
     cursor: pointer;
    transition: opacity 0.15s;
     color: black;
}

  .white-curved-rectangles-2{
     position:absolute;
     top:30%;
     left: 2.5%;
  border-radius: 25px;
  background: white;
  width: 95%;
  height: 50%;
      cursor: pointer;
    transition: opacity 0.15s;
      color: black;
}


  .white-curved-rectangles-1{
     position:absolute;
     top:50%;
     left: 2.5%;
  border-radius: 25px;
  background: white;
  width: 95%;
  height: 50%;
      cursor: pointer;
    transition: opacity 0.15s;
      color: black;
}

    .red-curved-rectangles-1{
     position:absolute;
        color: white;
     bottom: 644%;
     left: 85%;
  border-radius: 25px;
  background: #b21e2a;
  width: 17%;
  height: 70%;
         cursor: pointer;
    transition: opacity 0.15s;

}

.new-projects{
    position: absolute;
    bottom: -5%;
    right: 25%;
    color: white;

}


.profile-background-1{
    position: relative;
    width: 1230px;
    height: 590px;
    background: #e1e1e1;
    bottom: -30px;
    left: 30px;

}

 .title-placement{
   position: absolute;
   bottom: 25%;
   right: 80%;

 }

  .sample-project{
     position: absolute;
     bottom: 0%;
     right:54px;
     font-weight: bold;

 }

.logo-placement{
    position: absolute;
    width: 50%;
    right: 25%;
    top: 11%;

 }
.calendar-icons{
    position:absolute;
    width: 25%;
    right: 70%;
    bottom: 25%;
}

 .date-assigned-placement{
    position: absolute;
    right: 8%;
    bottom: 27%;

 }

.date-placement{
position: absolute;
    right: 21%;
    bottom: -5%;
}

.date-due-placement{
    position: absolute;
    right: 42%;
    bottom: 27%;
}

.due-placement{
  position: absolute;
  right: 35%;
  bottom: -5%;

}

.assignees-logo{
    position:absolute;
    width: 28%;
    left: 0%;
    bottom: 24%;
}
.assignee{
    position: absolute;
    left: 0%;
    bottom: 28%;

}
.assignee-amount{
    position:absolute;
    left:32%;
    bottom: 0%;
    font-weight: bold;
}



.stage-placement {
    position: absolute;
    right: 30%;
    bottom: 8%;
    color: white;

}

.section1{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 25%;
    background-color: #e1e1e1;
}

.section2{
    position: absolute;
    left: 0%;
    top: 25%;
    width: 100%;
    height: 25%;
    background-color: #e1e1e1;
}
.section3{
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    height: 25%;
    background-color: #e1e1e1;
}

.section4{
    position: absolute;
    left: 0%;
    top: 75%;
    width: 100%;
    height: 25%;
    background-color:#e1e1e1 ;
}

.vertical1{
    position:absolute;
    left:0%;
    bottom:0%;
    width: 10%;
    height: 100%;
    background-color: white;
    border-radius: 25px;
}
.vertical2{
    position: absolute;
    left:10%;
    bottom:0%;
    width:15%;
    height:100%;
    background-color: white;
    border-radius:25px;

}

.vertical3{
       position:absolute;
    left:25%;
    bottom: 0%;
    width:15%;
    height:100%;
    background-color:white;
    border-radius:25px;
}

.vertical4{
   position: absolute;
    left:40%;
    bottom:0%;
    width:15%;
    height:100%;
    background-color: white;
    border-radius:25px;
}

.vertical5{
       position: absolute;
    left:55%;
    bottom:0%;
    width:15%;
    height:100%;
    background-color: white;
    border-radius:25px;

}

.vertical6{
       position: absolute;
    left:70%;
    bottom:5%;
    width:30%;
    height:89%;
    background-color: white;
    border-radius:25px;
}

.blue-curved-rectangle {
    border-radius: 25px;
    background: darkblue;
    width: 100%;
    height: 110%;
    position: absolute;
    left: 0%;
    bottom: -5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-blue-curved-rectangle {
    border-radius: 25px;
    background: lightblue;
    width: 100%;
    height: 110%;
    position: absolute;
    left: 0%;
    bottom: -5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage-placement-2 {
    position: absolute;
    right: 35%;
    bottom: 8%;
    color: white;

}

.orange-curved-rectangle{
    border-radius: 25px;
    background: orange;
    width: 100%;
    height: 110%;
    position: absolute;
    left: 0%;
    bottom: -5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage-placement-3 {
    position: absolute;
    right: 38%;
    bottom: 8%;
    color: white;

}

.green-curved-rectangle{
    border-radius: 25px;
    background: green;
    width: 100%;
    height: 110%;
    position: absolute;
    left: 0%;
    bottom: -5%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage-placement-4{
    position: absolute;
    right: 40%;
    bottom: 8%;
    color: white;


}

.add-task-button {
    background-color: #b21e2a;
    color: white;
    border: none;
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
    bottom: 5px;
    right: 35px;
    position: absolute;
}

.add-project-button {
    background-color: #b21e2a;
    color: white;
    border: none;
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
    top: 15px;
    right: 35px;
    position: absolute;
    z-index: 99;
}
